<!doctype html>
<html lang="en" dir="ltr">
{% load staticfiles %}

<head>

    <!-- Line chart to show A and B OK parts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Side A', 'Side B'],
          [{% block day0 %} {% endblock %},  {% block combined_side_a_ng0 %} {% endblock %}, {% block combined_side_b_ng0 %} {% endblock %}],
          [{% block day1 %} {% endblock %},  {% block combined_side_a_ng1 %} {% endblock %}, {% block combined_side_b_ng1 %} {% endblock %}],
          [{% block day2 %} {% endblock %},  {% block combined_side_a_ng2 %} {% endblock %}, {% block combined_side_b_ng2 %} {% endblock %}],
          [{% block day3 %} {% endblock %},  {% block combined_side_a_ng3 %} {% endblock %}, {% block combined_side_b_ng3 %} {% endblock %}],
          [{% block day4 %} {% endblock %},  {% block combined_side_a_ng4 %} {% endblock %}, {% block combined_side_b_ng4 %} {% endblock %}],
          [{% block day5 %} {% endblock %},  {% block combined_side_a_ng5 %} {% endblock %}, {% block combined_side_b_ng5 %} {% endblock %}],
          [{% block day6 %} {% endblock %},  {% block combined_side_a_ng6 %} {% endblock %}, {% block combined_side_b_ng6 %} {% endblock %}],
        ]);

        var options = {
          title: 'Rejected Parts',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('A_B_OK'));

        chart.draw(data, options);
      }
    </script>
  </head>


  <body>
    <div id="A_B_OK" style="width: 800px; height: 500px"></div>
  </body>
