<!doctype html>
<html lang="en" dir="ltr">
{% load staticfiles %}

<head>

    <!-- Line chart to show A and B OK parts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Side A', 'Side B'],
          ['1',  {% block day_1_side_a_ng %} {% endblock %}, {% block day_1_side_b_ng %} {% endblock %}],
          ['2',  {% block day_2_side_a_ng %} {% endblock %}, {% block day_2_side_b_ng %} {% endblock %}],
          ['3',  {% block day_3_side_a_ng %} {% endblock %}, {% block day_3_side_b_ng %} {% endblock %}],
          ['4',  {% block day_4_side_a_ng %} {% endblock %}, {% block day_4_side_b_ng %} {% endblock %}],
          ['5',  {% block day_5_side_a_ng %} {% endblock %}, {% block day_5_side_b_ng %} {% endblock %}],
          ['6',  {% block day_6_side_a_ng %} {% endblock %}, {% block day_6_side_b_ng %} {% endblock %}],
          ['7',  {% block day_7_side_a_ng %} {% endblock %}, {% block day_7_side_b_ng %} {% endblock %}],
        ]);

        var options = {
          title: 'Rejected Parts',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('A_B_OK'));

        chart.draw(data, options);
      }
    </script>
  </head>


  <body>
    <div id="A_B_OK" style="width: 800px; height: 500px"></div>
  </body>
