{% extends "base.html" %}
{% load staticfiles %}


{% block date_menu %}
<!-- begin: Header Menu -->
<!-- <div class="k-header-menu-wrapper k-grid__item" id="k_header_menu_wrapper">
  <div id="k_header_menu" class="k-header-menu k-header-menu-mobile ">
    <ul class="k-menu__nav ">
      <li class="k-menu__item  k-menu__item--open k-menu__item--here k-menu__item--submenu k-menu__item--rel k-menu__item--open k-menu__item--here" data-kmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="k-menu__link k-menu__toggle"><span class="k-menu__link-text">Time Span</span><i class="k-menu__hor-arrow la la-angle-down"></i><i class="k-menu__ver-arrow la la-angle-right"></i></a>
        <div class="k-menu__submenu k-menu__submenu--classic k-menu__submenu--left">
          <ul class="k-menu__subnav">
            <li class="k-menu__item  k-menu__item--active " aria-haspopup="true"><a href="line{{ line }}_hourly" class="k-menu__link "><span class="k-menu__link-text">Hourly</span></a></li>
            <li class="k-menu__item  k-menu__item--active " aria-haspopup="true"><a href="line{{ line }}_daily" class="k-menu__link "><span class="k-menu__link-text">Daily</span></a></li>
            <li class="k-menu__item  k-menu__item--active " aria-haspopup="true"><a href="line{{ line }}_weekly" class="k-menu__link "><span class="k-menu__link-text">Weekly</span></a></li>
            <li class="k-menu__item  k-menu__item--active " aria-haspopup="true"><a href="line{{ line }}_monthly" class="k-menu__link "><span class="k-menu__link-text">Monthly</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div> -->
<div class="w3-bar-block">
  <a href="line{{ line }}_hourly" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-black">Hourly</a>
  <a href="line{{ line }}_daily" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-black">Daily</a>
  <a href="line{{ line }}_weekly" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-black">Weekly</a>
  <a href="line{{ line }}_monthly" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-black">Monthly</a>
</div>
<!-- end: Header Menu -->
{% endblock %}

{% block content_base %}


<div class="k-grid k-grid--hor k-grid--root">
  <div class="k-grid__item k-grid__item--fluid k-grid k-grid--ver k-page">
    <div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor k-wrapper" id="k_wrapper">
      <div class="k-grid__item k-grid__item--fluid k-grid k-grid--ver k-grid--stretch">
        <div class="k-content-wrapper k-content-wrapper--fixed  k-grid__item k-grid__item--fluid k-grid k-grid--ver">
          <!-- begin:: Content -->
          <div class="k-content k-grid__item k-grid__item--fluid" id="k_content">

            <h1><b>Line {{ line }}</b></h1>

            <!--begin::Dashboard 1-->
            <div class="row">
              <div class="col-sm-12">
                <!--begin::Portlet-->
                <div class="k-portlet" style="width: 100%;">

                    {% block content %} {% endblock %}

                  <div class="k-portlet__body">
                    <canvas id="k_chartjs_3" style="height: 300px;"></canvas>

                    <canvas id="k_chartjs_4" style="height: 300px;"></canvas>
                  </div>

                <!--end::Portlet-->
              </div>

              <!-- For the donut chart -->
              <div class="row">
                <div class="col-xl-6">

                  <!--begin::Portlet-->
                  <div class="k-portlet">
                    <div class="k-portlet__head">
                      <div class="k-portlet__head-label">
                        <h3 class="k-portlet__head-title">Scrap Origin</h3>
                      </div>
                    </div>
                    <div class="k-portlet__body">
                      <canvas id="k_chartjs_6" style="height: 300px;"></canvas>
                    </div>

                  </div>

                  <!--end::Portlet-->
                </div>

              </div>

            </div>

            <!--begin::Row-->
            <div class="row">
              <div class="col-lg-12 col-xl-8 order-lg-2 order-xl-1">
            </div>
            <!--end::Row-->
            <!--end::Dashboard 1-->
          </div>
          <!-- end:: Content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:: Page -->
  </div>

<!-- end:: Aside -->

{% endblock %}
