{% extends "dolcegusto/dashboard_code.html" %}

<!-- Side A rejects for machine 3 -->
{% block combined_scrap_0_3_a %}
{{ combined_scrap_0_3_a }}
{% endblock %}

{% block combined_scrap_1_3_a %}
{{ combined_scrap_1_3_a }}
{% endblock %}

{% block combined_scrap_2_3_a %}
{{ combined_scrap_2_3_a }}
{% endblock %}

{% block combined_scrap_3_3_a %}
{{ combined_scrap_3_3_a }}
{% endblock %}

{% block combined_scrap_4_3_a %}
{{ combined_scrap_4_3_a }}
{% endblock %}

{% block combined_scrap_5_3_a %}
{{ combined_scrap_5_3_a }}
{% endblock %}

{% block combined_scrap_6_3_a %}
{{ combined_scrap_6_3_a }}
{% endblock %}

<!-- Side B rejects for machine 3 -->
{% block combined_scrap_0_3_b %}
{{ combined_scrap_0_3_b }}
{% endblock %}

{% block combined_scrap_1_3_b %}
{{ combined_scrap_1_3_b }}
{% endblock %}

{% block combined_scrap_2_3_b %}
{{ combined_scrap_2_3_b }}
{% endblock %}

{% block combined_scrap_3_3_b %}
{{ combined_scrap_3_3_b }}
{% endblock %}

{% block combined_scrap_4_3_b %}
{{ combined_scrap_4_3_b }}
{% endblock %}

{% block combined_scrap_5_3_b %}
{{ combined_scrap_5_3_b }}
{% endblock %}

{% block combined_scrap_6_3_b %}
{{ combined_scrap_6_3_b }}
{% endblock %}

<!-- Side A rejects for machine 4 -->
{% block combined_scrap_0_4_a %}
{{ combined_scrap_0_4_a }}
{% endblock %}

{% block combined_scrap_1_4_a %}
{{ combined_scrap_1_4_a }}
{% endblock %}

{% block combined_scrap_2_4_a %}
{{ combined_scrap_2_4_a }}
{% endblock %}

{% block combined_scrap_3_4_a %}
{{ combined_scrap_3_4_a }}
{% endblock %}

{% block combined_scrap_4_4_a %}
{{ combined_scrap_4_4_a }}
{% endblock %}

{% block combined_scrap_5_4_a %}
{{ combined_scrap_5_4_a }}
{% endblock %}

{% block combined_scrap_6_4_a %}
{{ combined_scrap_6_4_a }}
{% endblock %}

<!-- Side B rejects for machine 4 -->
{% block combined_scrap_0_4_b %}
{{ combined_scrap_0_4_b }}
{% endblock %}

{% block combined_scrap_1_4_b %}
{{ combined_scrap_1_4_b }}
{% endblock %}

{% block combined_scrap_2_4_b %}
{{ combined_scrap_2_4_b }}
{% endblock %}

{% block combined_scrap_3_4_b %}
{{ combined_scrap_3_4_b }}
{% endblock %}

{% block combined_scrap_4_4_b %}
{{ combined_scrap_4_4_b }}
{% endblock %}

{% block combined_scrap_5_4_b %}
{{ combined_scrap_5_4_b }}
{% endblock %}

{% block combined_scrap_6_4_b %}
{{ combined_scrap_6_4_b }}
{% endblock %}


<!-- Side A rejects for machine 5 -->
{% block combined_scrap_0_5_a %}
{{ combined_scrap_0_5_a }}
{% endblock %}

{% block combined_scrap_1_5_a %}
{{ combined_scrap_1_5_a }}
{% endblock %}

{% block combined_scrap_2_5_a %}
{{ combined_scrap_2_5_a }}
{% endblock %}

{% block combined_scrap_3_5_a %}
{{ combined_scrap_3_5_a }}
{% endblock %}

{% block combined_scrap_4_5_a %}
{{ combined_scrap_4_5_a }}
{% endblock %}

{% block combined_scrap_5_5_a %}
{{ combined_scrap_5_5_a }}
{% endblock %}

{% block combined_scrap_6_5_a %}
{{ combined_scrap_6_5_a }}
{% endblock %}

<!-- Side B rejects for machine 5 -->
{% block combined_scrap_0_5_b %}
{{ combined_scrap_0_5_b }}
{% endblock %}

{% block combined_scrap_1_5_b %}
{{ combined_scrap_1_5_b }}
{% endblock %}

{% block combined_scrap_2_5_b %}
{{ combined_scrap_2_5_b }}
{% endblock %}

{% block combined_scrap_3_5_b %}
{{ combined_scrap_3_5_b }}
{% endblock %}

{% block combined_scrap_4_5_b %}
{{ combined_scrap_4_5_b }}
{% endblock %}

{% block combined_scrap_5_5_b %}
{{ combined_scrap_5_5_b }}
{% endblock %}

{% block combined_scrap_6_5_b %}
{{ combined_scrap_6_5_b }}
{% endblock %}


<!-- Side A rejects for machine 7 -->
{% block combined_scrap_0_7_a %}
{{ combined_scrap_0_7_a }}
{% endblock %}

{% block combined_scrap_1_7_a %}
{{ combined_scrap_1_7_a }}
{% endblock %}

{% block combined_scrap_2_7_a %}
{{ combined_scrap_2_7_a }}
{% endblock %}

{% block combined_scrap_3_7_a %}
{{ combined_scrap_3_7_a }}
{% endblock %}

{% block combined_scrap_4_7_a %}
{{ combined_scrap_4_7_a }}
{% endblock %}

{% block combined_scrap_5_7_a %}
{{ combined_scrap_5_7_a }}
{% endblock %}

{% block combined_scrap_6_7_a %}
{{ combined_scrap_6_7_a }}
{% endblock %}

<!-- Side B rejects for machine 7 -->
{% block combined_scrap_0_7_b %}
{{ combined_scrap_0_7_b }}
{% endblock %}

{% block combined_scrap_1_7_b %}
{{ combined_scrap_1_7_b }}
{% endblock %}

{% block combined_scrap_2_7_b %}
{{ combined_scrap_2_7_b }}
{% endblock %}

{% block combined_scrap_3_7_b %}
{{ combined_scrap_3_7_b }}%
{% endblock %}

{% block combined_scrap_4_7_b %}
{{ combined_scrap_4_7_b }}
{% endblock %}

{% block combined_scrap_5_7_b %}
{{ combined_scrap_5_7_b }}
{% endblock %}

{% block combined_scrap_6_7_b %}
{{ combined_scrap_6_7_b }}
{% endblock %}


<!-- Side A rejects for machine 8 -->
{% block combined_scrap_0_8_a %}
{{ combined_scrap_0_8_a }}
{% endblock %}

{% block combined_scrap_1_8_a %}
{{ combined_scrap_1_8_a }}
{% endblock %}

{% block combined_scrap_2_8_a %}
{{ combined_scrap_2_8_a }}
{% endblock %}

{% block combined_scrap_3_8_a %}
{{ combined_scrap_3_8_a }}
{% endblock %}

{% block combined_scrap_4_8_a %}
{{ combined_scrap_4_8_a }}
{% endblock %}

{% block combined_scrap_5_8_a %}
{{ combined_scrap_5_8_a }}
{% endblock %}

{% block combined_scrap_6_8_a %}
{{ combined_scrap_6_8_a }}
{% endblock %}

<!-- Side B rejects for machine 8 -->
{% block combined_scrap_0_8_b %}
{{ combined_scrap_0_8_b }}
{% endblock %}

{% block combined_scrap_1_8_b %}
{{ combined_scrap_1_8_b }}
{% endblock %}

{% block combined_scrap_2_8_b %}
{{ combined_scrap_2_8_b }}
{% endblock %}

{% block combined_scrap_3_8_b %}
{{ combined_scrap_3_8_b }}
{% endblock %}

{% block combined_scrap_4_8_b %}
{{ combined_scrap_4_8_b }}
{% endblock %}

{% block combined_scrap_5_8_b %}
{{ combined_scrap_5_8_b }}
{% endblock %}

{% block combined_scrap_6_8_b %}
{{ combined_scrap_6_8_b }}
{% endblock %}


<!-- Side A rejects for machine 9 -->
{% block combined_scrap_0_9_a %}
{{ combined_scrap_0_9_a }}
{% endblock %}

{% block combined_scrap_1_9_a %}
{{ combined_scrap_1_9_a }}
{% endblock %}

{% block combined_scrap_2_9_a %}
{{ combined_scrap_2_9_a }}
{% endblock %}

{% block combined_scrap_3_9_a %}
{{ combined_scrap_3_9_a }}
{% endblock %}

{% block combined_scrap_4_9_a %}
{{ combined_scrap_4_9_a }}
{% endblock %}

{% block combined_scrap_5_9_a %}
{{ combined_scrap_5_9_a }}
{% endblock %}

{% block combined_scrap_6_9_a %}
{{ combined_scrap_6_9_a }}
{% endblock %}

<!-- Side B rejects for machine 9 -->
{% block combined_scrap_0_9_b %}
{{ combined_scrap_0_9_b }}
{% endblock %}

{% block combined_scrap_1_9_b %}
{{ combined_scrap_1_9_b }}
{% endblock %}

{% block combined_scrap_2_9_b %}
{{ combined_scrap_2_9_b }}
{% endblock %}

{% block combined_scrap_3_9_b %}
{{ combined_scrap_3_9_b }}
{% endblock %}

{% block combined_scrap_4_9_b %}
{{ combined_scrap_4_9_b }}
{% endblock %}

{% block combined_scrap_5_9_b %}
{{ combined_scrap_5_9_b }}
{% endblock %}

{% block combined_scrap_6_9_b %}
{{ combined_scrap_6_9_b }}
{% endblock %}


<!-- Side A rejects for machine 10 -->
{% block combined_scrap_0_10_a %}
{{ combined_scrap_0_10_a }}
{% endblock %}

{% block combined_scrap_1_10_a %}
{{ combined_scrap_1_10_a }}
{% endblock %}

{% block combined_scrap_2_10_a %}
{{ combined_scrap_2_10_a }}
{% endblock %}

{% block combined_scrap_3_10_a %}
{{ combined_scrap_3_10_a }}
{% endblock %}

{% block combined_scrap_4_10_a %}
{{ combined_scrap_4_10_a }}
{% endblock %}

{% block combined_scrap_5_10_a %}
{{ combined_scrap_5_10_a }}
{% endblock %}

{% block combined_scrap_6_10_a %}
{{ combined_scrap_6_10_a }}
{% endblock %}

<!-- Side B rejects for machine 10 -->
{% block combined_scrap_0_10_b %}
{{ combined_scrap_0_10_b }}
{% endblock %}

{% block combined_scrap_1_10_b %}
{{ combined_scrap_1_10_b }}
{% endblock %}

{% block combined_scrap_2_10_b %}
{{ combined_scrap_2_10_b }}
{% endblock %}

{% block combined_scrap_3_10_b %}
{{ combined_scrap_3_10_b }}
{% endblock %}

{% block combined_scrap_4_10_b %}
{{ combined_scrap_4_10_b }}
{% endblock %}

{% block combined_scrap_5_10_b %}
{{ combined_scrap_5_10_b }}
{% endblock %}

{% block combined_scrap_6_10_b %}
{{ combined_scrap_6_10_b }}
{% endblock %}
