{% extends "sub_base_for_dashboard.html" %}

{% block content %}

  <!-- pass on variable to the dashboard.js file -->
  <script type="text/javascript">
    var a3 = {% block combined_scrap_0_3_a %}{% endblock %};
    var b3 = {% block combined_scrap_0_3_b %}{% endblock %};
    var a4 = {% block combined_scrap_0_4_a %}{% endblock %};
    var b4 = {% block combined_scrap_0_4_b %}{% endblock %};
    var a5 = {% block combined_scrap_0_5_a %}{% endblock %};
    var b5 = {% block combined_scrap_0_5_b %}{% endblock %};
    var a7 = {% block combined_scrap_0_7_a %}{% endblock %};
    var b7 = {% block combined_scrap_0_7_b %}{% endblock %};
    var a8 = {% block combined_scrap_0_8_a %}{% endblock %};
    var b8 = {% block combined_scrap_0_8_b %}{% endblock %};
    var a9 = {% block combined_scrap_0_9_a %}{% endblock %};
    var b9 = {% block combined_scrap_0_9_b %}{% endblock %};
    var a10 = {% block combined_scrap_0_10_a %}{% endblock %};
    var b10 = {% block combined_scrap_0_10_b %}{% endblock %}
  </script>
{% endblock %}
