
{% extends "dolcegusto/hourly_code.html" %}


{% block data %}

<!-- graph values -->
  <script>
    var scrap0a = {{ combined_scrap_0_a }};
    var scrap1a = {{ combined_scrap_1_a }};
    var scrap2a = {{ combined_scrap_2_a }};
    var scrap3a = {{ combined_scrap_3_a }};
    var scrap4a = {{ combined_scrap_4_a }};
    var scrap5a = {{ combined_scrap_5_a }};
    var scrap6a = {{ combined_scrap_6_a }};
    var scrap0b = {{ combined_scrap_0_b }};
    var scrap1b = {{ combined_scrap_1_b }};
    var scrap2b = {{ combined_scrap_2_b }};
    var scrap3b = {{ combined_scrap_3_b }};
    var scrap4b = {{ combined_scrap_4_b }};
    var scrap5b = {{ combined_scrap_5_b }};
    var scrap6b = {{ combined_scrap_6_b }};
  </script>

{% endblock %}
