{% extends "tables.html" %}

{% block line %}
{{ line }}
{% endblock %}




{% block day0 %}
{{ day0 }}
{% endblock %}

{% block day1 %}
{{ day1 }}
{% endblock %}

{% block day2 %}
{{ day2 }}
{% endblock %}

{% block day3 %}
{{ day3 }}
{% endblock %}

{% block day4 %}
{{ day4 }}
{% endblock %}

{% block day5 %}
{{ day5 }}
{% endblock %}

{% block day6 %}
{{ day6 }}
{% endblock %}





{% block combined_side_a_ng0 %}
{{ combined_side_a_ng0 }}%
{% endblock %}

{% block combined_side_a_ng1 %}
{{ combined_side_a_ng1 }}
{% endblock %}

{% block combined_side_a_ng2 %}
{{ combined_side_a_ng2 }}
{% endblock %}

{% block combined_side_a_ng3 %}
{{ combined_side_a_ng3 }}
{% endblock %}

{% block combined_side_a_ng4 %}
{{ combined_side_a_ng4 }}
{% endblock %}

{% block combined_side_a_ng5 %}
{{ combined_side_a_ng5 }}
{% endblock %}

{% block combined_side_a_ng6 %}
{{ combined_side_a_ng6 }}
{% endblock %}





{% block combined_side_b_ng0 %}
{{ combined_side_b_ng0 }}%
{% endblock %}

{% block combined_side_b_ng1 %}
{{ combined_side_b_ng1 }}
{% endblock %}

{% block combined_side_b_ng2 %}
{{ combined_side_b_ng2 }},
{% endblock %}

{% block combined_side_b_ng3 %}
{{ combined_side_b_ng3 }},
{% endblock %}

{% block combined_side_b_ng4 %}
{{ combined_side_b_ng4 }}
{% endblock %}

{% block combined_side_b_ng5 %}
{{ combined_side_b_ng5 }}
{% endblock %}

{% block combined_side_b_ng6 %}
{{ combined_side_b_ng6 }}
{% endblock %}



{% block combined_side_a_re0 %}
{{ combined_side_a_re0 }}%
{% endblock %}

{% block combined_side_a_re1 %}
{{ combined_side_a_re1 }}
{% endblock %}

{% block combined_side_a_re2 %}
{{ combined_side_a_re2 }}
{% endblock %}

{% block combined_side_a_re3 %}
{{ combined_side_a_re3 }}
{% endblock %}

{% block combined_side_a_re4 %}
{{ combined_side_a_re4 }}
{% endblock %}

{% block combined_side_a_re5 %}
{{ combined_side_a_re5 }}
{% endblock %}

{% block combined_side_a_re6 %}
{{ combined_side_a_re6 }}
{% endblock %}




{% block combined_side_b_re0 %}
{{ combined_side_b_re0 }}%
{% endblock %}

{% block combined_side_b_re1 %}
{{ combined_side_b_re1 }}
{% endblock %}

{% block combined_side_b_re2 %}
{{ combined_side_b_re2 }}
{% endblock %}

{% block combined_side_b_re3 %}
{{ combined_side_b_re3 }}
{% endblock %}

{% block combined_side_b_re4 %}
{{ combined_side_b_re4 }}
{% endblock %}

{% block combined_side_b_re5 %}
{{ combined_side_b_re5 }}
{% endblock %}

{% block combined_side_b_re6 %}
{{ combined_side_b_re6 }}
{% endblock %}
