{% extends "tables.html" %}

<!-- Production line variables -->
{% block line_5 %}
{{ line_5 }}
{% endblock %}

{% block line_8 %}
{{ line_8 }}
{% endblock %}


<!-- Day of week names -->
{% block day0 %}
{{ day0 }}
{% endblock %}

{% block day1 %}
{{ day1 }}
{% endblock %}

{% block day2 %}
{{ day2 }}
{% endblock %}

{% block day3 %}
{{ day3 }}
{% endblock %}

{% block day4 %}
{{ day4 }}
{% endblock %}

{% block day5 %}
{{ day5 }}
{% endblock %}

{% block day6 %}
{{ day6 }}
{% endblock %}

<!-- Combined rejects for machine 5 -->
{% block combined_scrap_0_line_5 %}
{{ combined_scrap_0_line_5 }}%
{% endblock %}

{% block combined_scrap_1_line_5 %}
{{ combined_scrap_1_line_5 }}%
{% endblock %}

{% block combined_scrap_2_line_5 %}
{{ combined_scrap_2_line_5 }}%
{% endblock %}

{% block combined_scrap_3_line_5 %}
{{ combined_scrap_3_line_5 }}%
{% endblock %}

{% block combined_scrap_4_line_5 %}
{{ combined_scrap_4_line_5 }}%
{% endblock %}

{% block combined_scrap_5_line_5 %}
{{ combined_scrap_5_line_5 }}%
{% endblock %}

{% block combined_scrap_6_line_5 %}
{{ combined_scrap_6_line_5 }}%
{% endblock %}



<!-- Combine rejects for machine 8 -->
{% block combined_scrap_0_line_8 %}
{{ combined_scrap_0_line_8 }}%
{% endblock %}

{% block combined_scrap_1_line_8 %}
{{ combined_scrap_1_line_8 }}%
{% endblock %}

{% block combined_scrap_2_line_8 %}
{{ combined_scrap_2_line_8 }}%
{% endblock %}

{% block combined_scrap_3_line_8 %}
{{ combined_scrap_3_line_8 }}%
{% endblock %}

{% block combined_scrap_4_line_8 %}
{{ combined_scrap_4_line_8 }}%
{% endblock %}

{% block combined_scrap_5_line_8 %}
{{ combined_scrap_5_line_8 }}%
{% endblock %}

{% block combined_scrap_6_line_8 %}
{{ combined_scrap_6_line_8 }}%
{% endblock %}
