{% extends "dolcegusto/monthly_code.html" %}

<!-- Production line variables -->
{% block line %}
{{ line }}
{% endblock %}

<!-- Combined rejects for machine 3 -->
{% block combined_scrap_0_a %}
{{ combined_scrap_0_a }}
{% endblock %}

{% block combined_scrap_0_b %}
{{ combined_scrap_0_b }}
{% endblock %}

{% block combined_scrap_1_a %}
{{ combined_scrap_1_a }}
{% endblock %}

{% block combined_scrap_1_b %}
{{ combined_scrap_1_b }}
{% endblock %}

{% block combined_scrap_2_a %}
{{ combined_scrap_2_a }}
{% endblock %}

{% block combined_scrap_2_b %}
{{ combined_scrap_2_b }}
{% endblock %}

{% block combined_scrap_3_a %}
{{ combined_scrap_3_a }}
{% endblock %}

{% block combined_scrap_3_b %}
{{ combined_scrap_3_b }}
{% endblock %}

{% block combined_scrap_4_a %}
{{ combined_scrap_4_a }}
{% endblock %}

{% block combined_scrap_4_b %}
{{ combined_scrap_4_b }}
{% endblock %}

{% block combined_scrap_5_a %}
{{ combined_scrap_5_a }}
{% endblock %}

{% block combined_scrap_5_b %}
{{ combined_scrap_5_b }}
{% endblock %}

{% block combined_scrap_6_a %}
{{ combined_scrap_6_a }}
{% endblock %}

{% block combined_scrap_6_b %}
{{ combined_scrap_6_b }}
{% endblock %}
