{% extends "charts.html" %}

{% block day_1_side_a_ng %}
{{ day_1_side_a_ng }}
{% endblock %}

{% block day_1_side_b_ng %}
{{ day_1_side_b_ng }}
{% endblock %}

{% block day_1_side_a_re %}
{{ day_1_side_a_re }}
{% endblock %}

{% block day_1_side_b_re %}
{{ day_1_side_b_re }}
{% endblock %}



{% block day_2_side_a_ng %}
{{ day_2_side_a_ng }}
{% endblock %}

{% block day_2_side_b_ng %}
{{ day_2_side_b_ng }}
{% endblock %}

{% block day_2_side_a_re %}
{{ day_2_side_a_re }}
{% endblock %}

{% block day_2_side_b_re %}
{{ day_2_side_b_re }}
{% endblock %}


{% block day_3_side_a_ng %}
{{ day_3_side_a_ng }}
{% endblock %}

{% block day_3_side_b_ng %}
{{ day_3_side_b_ng }}
{% endblock %}

{% block day_3_side_a_re %}
{{ day_3_side_a_re }}
{% endblock %}

{% block day_3_side_b_re %}
{{ day_3_side_b_re }}
{% endblock %}


{% block day_4_side_a_ng %}
{{ day_4_side_a_ng }}
{% endblock %}

{% block day_4_side_b_ng %}
{{ day_4_side_b_ng }}
{% endblock %}

{% block day_4_side_a_re %}
{{ day_4_side_a_re }}
{% endblock %}

{% block day_4_side_b_re %}
{{ day_4_side_b_re }}
{% endblock %}


{% block day_5_side_a_ng %}
{{ day_5_side_a_ng }}
{% endblock %}

{% block day_5_side_b_ng %}
{{ day_5_side_b_ng }}
{% endblock %}

{% block day_5_side_a_re %}
{{ day_5_side_a_re }}
{% endblock %}

{% block day_5_side_b_re %}
{{ day_5_side_b_re }}
{% endblock %}


{% block day_6_side_a_ng %}
{{ day_6_side_a_ng }}
{% endblock %}

{% block day_6_side_b_ng %}
{{ day_6_side_b_ng }}
{% endblock %}

{% block day_6_side_a_re %}
{{ day_6_side_a_re }}
{% endblock %}

{% block day_6_side_b_re %}
{{ day_6_side_b_re }}
{% endblock %}


{% block day_7_side_a_ng %}
{{ day_7_side_a_ng }}
{% endblock %}

{% block day_7_side_b_ng %}
{{ day_7_side_b_ng }}
{% endblock %}

{% block day_7_side_a_re %}
{{ day_7_side_a_re }}
{% endblock %}

{% block day_7_side_b_re %}
{{ day_7_side_b_re }}
{% endblock %}
