{% extends "per_machine.html" %}

<!-- Production line variables -->
{% block line %}
{{ line }}
{% endblock %}

<!-- Day of week names -->
{% block day0 %}
{{ day0 }}
{% endblock %}

{% block day1 %}
{{ day1 }}
{% endblock %}

{% block day2 %}
{{ day2 }}
{% endblock %}

{% block day3 %}
{{ day3 }}
{% endblock %}

{% block day4 %}
{{ day4 }}
{% endblock %}

{% block day5 %}
{{ day5 }}
{% endblock %}

{% block day6 %}
{{ day6 }}
{% endblock %}


<!-- Combined rejects for machine 3 -->
{% block combined_scrap_0_a %}
{{ combined_scrap_0_a }}
{% endblock %}

{% block combined_scrap_0_b %}
{{ combined_scrap_0_b }}
{% endblock %}

{% block combined_scrap_1_a %}
{{ combined_scrap_1_a }}
{% endblock %}

{% block combined_scrap_1_b %}
{{ combined_scrap_1_b }}
{% endblock %}

{% block combined_scrap_2_a %}
{{ combined_scrap_2_a }}%
{% endblock %}

{% block combined_scrap_2_b %}
{{ combined_scrap_2_b }}
{% endblock %}

{% block combined_scrap_3_a %}
{{ combined_scrap_3_a }}
{% endblock %}

{% block combined_scrap_3_b %}
{{ combined_scrap_3_b }}
{% endblock %}

{% block combined_scrap_4_a %}
{{ combined_scrap_4_a }}
{% endblock %}

{% block combined_scrap_4_b %}
{{ combined_scrap_4_b }}
{% endblock %}

{% block combined_scrap_5_a %}
{{ combined_scrap_5_a }}
{% endblock %}

{% block combined_scrap_5_b %}
{{ combined_scrap_5_b }}
{% endblock %}

{% block combined_scrap_6_a %}
{{ combined_scrap_6_a }}
{% endblock %}

{% block combined_scrap_6_b %}
{{ combined_scrap_6_b }}
{% endblock %}
