{% extends "sub_base_for_per_machine.html" %}

{% block content %}
  <!-- This id is for the monthly variables to work -->

  <!-- pass on variable to the charts-js.js file -->
  <!-- the file is at /static/assets/demo/default/costume/components/charts -->
  <script type="text/javascript" id="demo">
  // get day name to be displayed on the graph

    function myFunction() {
      var d = new Date();
      var n = d.getMonth();
      return(n)
    };

    if (myFunction() == 0) {
      var period0 = "January";
      var period1 = "December";
      var period2 = "November";
      var period3 = "October";
      var period4 = "September";
      var period5 = "August";
      var period6 = "July"

    } else if (myFunction() == 1) {
      var period0 = "February";
      var period1 = "January";
      var period2 = "December";
      var period3 = "November";
      var period4 = "October";
      var period5 = "September";
      var period6 = "August"

    } else if (myFunction() == 2) {
      var period0 = "March";
      var period1 = "February";
      var period2 = "January";
      var period3 = "December";
      var period4 = "November";
      var period5 = "October";
      var period6 = "September"

    } else if (myFunction() == 3) {
      var period0 = "April";
      var period1 = "March";
      var period2 = "February";
      var period3 = "January";
      var period4 = "December";
      var period5 = "November";
      var period6 = "October"

    } else if (myFunction() == 4) {
      var period0 = "May";
      var period1 = "April";
      var period2 = "March";
      var period3 = "February";
      var period4 = "January";
      var period5 = "December";
      var period6 = "November"

    } else if (myFunction() == 5) {
      var period0 = "June";
      var period1 = "May";
      var period2 = "April";
      var period3 = "March";
      var period4 = "February";
      var period5 = "January";
      var period6 = "December"

    } else if (myFunction() == 6) {
      var period0 = "July";
      var period1 = "June";
      var period2 = "May";
      var period3 = "April";
      var period4 = "March";
      var period5 = "February";
      var period6 = "January"

    } else if (myFunction() == 7) {
      var period0 = "August";
      var period1 = "July";
      var period2 = "June";
      var period3 = "May";
      var period4 = "April";
      var period5 = "March";
      var period6 = "February"

    } else if (myFunction() == 8) {
      var period0 = "September";
      var period1 = "August";
      var period2 = "July";
      var period3 = "June";
      var period4 = "May";
      var period5 = "April";
      var period6 = "March"

    } else if (myFunction() == 9) {
      var period0 = "October";
      var period1 = "September";
      var period2 = "August";
      var period3 = "July";
      var period4 = "June";
      var period5 = "May";
      var period6 = "April"

    } else if (myFunction() == 10) {
      var period0 = "November";
      var period1 = "October";
      var period2 = "September";
      var period3 = "August";
      var period4 = "July";
      var period5 = "June";
      var period6 = "May"

    } else if (myFunction() == 11) {
      var period0 = "December";
      var period1 = "November";
      var period2 = "October";
      var period3 = "September";
      var period4 = "August";
      var period5 = "July";
      var period6 = "June"
    }
    // graph values
    var scrap0a = {% block combined_scrap_0_a %}{% endblock %};
    var scrap1a = {% block combined_scrap_1_a %}{% endblock %};
    var scrap2a = {% block combined_scrap_2_a %}{% endblock %};
    var scrap3a = {% block combined_scrap_3_a %}{% endblock %};
    var scrap4a = {% block combined_scrap_4_a %}{% endblock %};
    var scrap5a = {% block combined_scrap_5_a %}{% endblock %};
    var scrap6a = {% block combined_scrap_6_a %}{% endblock %};
    var scrap0b = {% block combined_scrap_0_b %}{% endblock %};
    var scrap1b = {% block combined_scrap_1_b %}{% endblock %};
    var scrap2b = {% block combined_scrap_2_b %}{% endblock %};
    var scrap3b = {% block combined_scrap_3_b %}{% endblock %};
    var scrap4b = {% block combined_scrap_4_b %}{% endblock %};
    var scrap5b = {% block combined_scrap_5_b %}{% endblock %};
    var scrap6b = {% block combined_scrap_6_b %}{% endblock %};


  </script>
{% endblock %}
