
{% extends "dolcegusto/weekly_code.html" %}


{% block data %}

<!-- graph values -->
  <script>

    var a_ok_0 = {{ a_ok_0 }};
    var a_ok_1 = {{ a_ok_1 }};
    var a_ok_2 = {{ a_ok_2 }};
    var a_ok_3 = {{ a_ok_3 }};
    var a_ok_4 = {{ a_ok_4 }};
    var a_ok_5 = {{ a_ok_5 }};
    var a_ok_6 = {{ a_ok_6 }};

    var b_ok_0 = {{ b_ok_0 }};
    var b_ok_1 = {{ b_ok_1 }};
    var b_ok_2 = {{ b_ok_2 }};
    var b_ok_3 = {{ b_ok_3 }};
    var b_ok_4 = {{ b_ok_4 }};
    var b_ok_5 = {{ b_ok_5 }};
    var b_ok_6 = {{ b_ok_6 }};
    


    var batch_0 = {{ batch_0 }};
    var batch_1 = {{ batch_1 }};
    var batch_2 = {{ batch_2 }};
    var batch_3 = {{ batch_3 }};
    var batch_4 = {{ batch_4 }};
    var batch_5 = {{ batch_5 }};
    var batch_6 = {{ batch_6 }};

    var a_ok_0 = {{ a_ok_0 }};
    var a_ok_1 = {{ a_ok_1 }};
    var a_ok_2 = {{ a_ok_2 }};
    var a_ok_3 = {{ a_ok_3 }};
    var a_ok_4 = {{ a_ok_4 }};
    var a_ok_5 = {{ a_ok_5 }};
    var a_ok_6 = {{ a_ok_6 }};

    var b_ok_0 = {{ b_ok_0 }};
    var b_ok_1 = {{ b_ok_1 }};
    var b_ok_2 = {{ b_ok_2 }};
    var b_ok_3 = {{ b_ok_3 }};
    var b_ok_4 = {{ b_ok_4 }};
    var b_ok_5 = {{ b_ok_5 }};
    var b_ok_6 = {{ b_ok_6 }};

    var scrap0a = {{ combined_scrap_0_a }};
    var scrap1a = {{ combined_scrap_1_a }};
    var scrap2a = {{ combined_scrap_2_a }};
    var scrap3a = {{ combined_scrap_3_a }};
    var scrap4a = {{ combined_scrap_4_a }};
    var scrap5a = {{ combined_scrap_5_a }};
    var scrap6a = {{ combined_scrap_6_a }};

    var scrap0b = {{ combined_scrap_0_b }};
    var scrap1b = {{ combined_scrap_1_b }};
    var scrap2b = {{ combined_scrap_2_b }};
    var scrap3b = {{ combined_scrap_3_b }};
    var scrap4b = {{ combined_scrap_4_b }};
    var scrap5b = {{ combined_scrap_5_b }};
    var scrap6b = {{ combined_scrap_6_b }};

    var ng_0_a = {{ combined_ng_0_a }};
    var ng_1_a = {{ combined_ng_1_a }};
    var ng_2_a = {{ combined_ng_2_a }};
    var ng_3_a = {{ combined_ng_3_a }};
    var ng_4_a = {{ combined_ng_4_a }};
    var ng_5_a = {{ combined_ng_5_a }};
    var ng_6_a = {{ combined_ng_6_a }};

    var ng_0_b = {{ combined_ng_0_b }};
    var ng_1_b = {{ combined_ng_1_b }};
    var ng_2_b = {{ combined_ng_2_b }};
    var ng_3_b = {{ combined_ng_3_b }};
    var ng_4_b = {{ combined_ng_4_b }};
    var ng_5_b = {{ combined_ng_5_b }};
    var ng_6_b = {{ combined_ng_6_b }};

    var re_0_a = {{ combined_re_0_a }};
    var re_1_a = {{ combined_re_1_a }};
    var re_2_a = {{ combined_re_2_a }};
    var re_3_a = {{ combined_re_3_a }};
    var re_4_a = {{ combined_re_4_a }};
    var re_5_a = {{ combined_re_5_a }};
    var re_6_a = {{ combined_re_6_a }};

    var re_0_b = {{ combined_re_0_b }};
    var re_1_b = {{ combined_re_1_b }};
    var re_2_b = {{ combined_re_2_b }};
    var re_3_b = {{ combined_re_3_b }};
    var re_4_b = {{ combined_re_4_b }};
    var re_5_b = {{ combined_re_5_b }};
    var re_6_b = {{ combined_re_6_b }};


    var ng_top_0_a = {{ top_ng_0_a }};
    var ng_top_1_a = {{ top_ng_1_a }};
    var ng_top_2_a = {{ top_ng_2_a }};
    var ng_top_3_a = {{ top_ng_3_a }};
    var ng_top_4_a = {{ top_ng_4_a }};
    var ng_top_5_a = {{ top_ng_5_a }};
    var ng_top_6_a = {{ top_ng_6_a }};

    var ng_top_0_b = {{ top_ng_0_b }};
    var ng_top_1_b = {{ top_ng_1_b }};
    var ng_top_2_b = {{ top_ng_2_b }};
    var ng_top_3_b = {{ top_ng_3_b }};
    var ng_top_4_b = {{ top_ng_4_b }};
    var ng_top_5_b = {{ top_ng_5_b }};
    var ng_top_6_b = {{ top_ng_6_b }};

    var re_top_0_re = {{ top_re_0_a }};
    var re_top_1_re = {{ top_re_1_a }};
    var re_top_2_re = {{ top_re_2_a }};
    var re_top_3_re = {{ top_re_3_a }};
    var re_top_4_re = {{ top_re_4_a }};
    var re_top_5_re = {{ top_re_5_a }};
    var re_top_6_re = {{ top_re_6_a }};

    var re_top_0_re = {{ top_re_0_b }};
    var re_top_1_re = {{ top_re_1_b }};
    var re_top_2_re = {{ top_re_2_b }};
    var re_top_3_re = {{ top_re_3_b }};
    var re_top_4_re = {{ top_re_4_b }};
    var re_top_5_re = {{ top_re_5_b }};
    var re_top_6_re = {{ top_re_6_b }};

    var ng_bottom_0_a = {{ bottom_ng_0_a }};
    var ng_bottom_1_a = {{ bottom_ng_1_a }};
    var ng_bottom_2_a = {{ bottom_ng_2_a }};
    var ng_bottom_3_a = {{ bottom_ng_3_a }};
    var ng_bottom_4_a = {{ bottom_ng_4_a }};
    var ng_bottom_5_a = {{ bottom_ng_5_a }};
    var ng_bottom_6_a = {{ bottom_ng_6_a }};

    var ng_bottom_0_b = {{ bottom_ng_0_b }};
    var ng_bottom_1_b = {{ bottom_ng_1_b }};
    var ng_bottom_2_b = {{ bottom_ng_2_b }};
    var ng_bottom_3_b = {{ bottom_ng_3_b }};
    var ng_bottom_4_b = {{ bottom_ng_4_b }};
    var ng_bottom_5_b = {{ bottom_ng_5_b }};
    var ng_bottom_6_b = {{ bottom_ng_6_b }};

    var re_bottom_0_a = {{ bottom_re_0_a }};
    var re_bottom_1_a = {{ bottom_re_1_a }};
    var re_bottom_2_a = {{ bottom_re_2_a }};
    var re_bottom_3_a = {{ bottom_re_3_a }};
    var re_bottom_4_a = {{ bottom_re_4_a }};
    var re_bottom_5_a = {{ bottom_re_5_a }};
    var re_bottom_6_a = {{ bottom_re_6_a }};

    var re_bottom_0_b = {{ bottom_re_0_b }};
    var re_bottom_1_b = {{ bottom_re_1_b }};
    var re_bottom_2_b = {{ bottom_re_2_b }};
    var re_bottom_3_b = {{ bottom_re_3_b }};
    var re_bottom_4_b = {{ bottom_re_4_b }};
    var re_bottom_5_b = {{ bottom_re_5_b }};
    var re_bottom_6_b = {{ bottom_re_6_b }};

    var ng_side_0_a = {{ side_ng_0_a }};
    var ng_side_1_a = {{ side_ng_1_a }};
    var ng_side_2_a = {{ side_ng_2_a }};
    var ng_side_3_a = {{ side_ng_3_a }};
    var ng_side_4_a = {{ side_ng_4_a }};
    var ng_side_5_a = {{ side_ng_5_a }};
    var ng_side_6_a = {{ side_ng_6_a }};

    var ng_side_0_b = {{ side_ng_0_b }};
    var ng_side_1_b = {{ side_ng_1_b }};
    var ng_side_2_b = {{ side_ng_2_b }};
    var ng_side_3_b = {{ side_ng_3_b }};
    var ng_side_4_b = {{ side_ng_4_b }};
    var ng_side_5_b = {{ side_ng_5_b }};
    var ng_side_6_b = {{ side_ng_6_b }};

    var re_side_0_a = {{ side_re_0_a }};
    var re_side_1_a = {{ side_re_1_a }};
    var re_side_2_a = {{ side_re_2_a }};
    var re_side_3_a = {{ side_re_3_a }};
    var re_side_4_a = {{ side_re_4_a }};
    var re_side_5_a = {{ side_re_5_a }};
    var re_side_6_a = {{ side_re_6_a }};

    var re_side_0_b = {{ side_re_0_b }};
    var re_side_1_b = {{ side_re_1_b }};
    var re_side_2_b = {{ side_re_2_b }};
    var re_side_3_b = {{ side_re_3_b }};
    var re_side_4_b = {{ side_re_4_b }};
    var re_side_5_b = {{ side_re_5_b }};
    var re_side_6_b = {{ side_re_6_b }};
  </script>

{% endblock %}
