{% extends "sub_base_for_per_machine.html" %}

{% block content %}
  <!-- This id is for the weekly variables to work -->

  <!-- pass on variable to the charts-js.js file -->
  <!-- the file is at /static/assets/demo/default/costume/components/charts/chart-js.js -->
  <script>

    var period0 = "This Week";
    var period1 = "Last Week";
    var period2 = "Two Weeks Ago";
    var period3 = "Three Weeks Ago";
    var period4 = "Four Weeks Ago";
    var period5 = "Five Weeks Ago";
    var period6 = "Six Weeks Ago";

  </script>

  {% block data %}
  {% endblock %}

{% endblock %}
